<style>

* {
    padding: 0;
    margin: 0;
}

/* portrait mode warning */
#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
#wrapper { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
    
.outer {
    
}


/* youtube */

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}

</style>

