<style>

* {
    padding: 0;
    margin: 0;
}

/* portrait mode warning */
#warning-message { display: none; 
background-color: black;
color:white;
font-size:30px;
}

@media only screen and (orientation:portrait){
.outer { display:none; }
#warning-message { display:block; }

 }

@media only screen and (orientation:landscape){
        #warning-message { display:none; }

    }
    
body {
    background-color: black;
    color: white;
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    cursor: url('images/cursor.cur'), default;

}

.outer {
    width: 95%;
    position: absolute;
    left: 2.5%;
    color: white;
    background-color: black;
}
    
.flex-container {
    display: flex;
    flex-direction: row;
    width: 89%;
    position: absolute;
    height: 300vh;
    left: 10%;
    
}

.counter {
	line-height: 1;
	text-align: justify;
	font-size; 1.8vw;
	top: 1%;
    z-index: 1;
    position: fixed;  
    width: 10%;


}

.playlist {
    line-height: 1;
    text-align: right;
    font-size: 1.8vw;
    position: relative;
    top: 1%;
    flex-basis: 25%;
    align-self: flex-end;
    
}

/* video */

.vid-container {   
    top: 1%;
    color: black;
    flex-basis: 50%;
    align-self: center;
    position: sticky;
    position: -webkit-sticky;
    flex-grow: 1;
}

.video {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 18%;
    width: 100%;
    bottom: 0px;
}

.gap {
    position: relative;
    min-height: 100vh;
}
@media screen and (min-width: 801px) {
  div.playlist {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 800px) {
  div.playlist {
    font-size: 30px;
  }
} 




.bottom {
    position: fixed;
    bottom: 1px;
    background: url("images/transparent-fire-gif.gif");
    background-repeat: repeat-x;
    width: 99%;
    height: 12%;
    left: 1px;
  
}
    .bottom a:visited {
        color: white;
    }



	.bottomtext {
		position: absolute;
		bottom: 1%;
		}
		
		.linx {
        position: absolute;
        right: 1px;
         text-align: right;
        }
        
@media screen and (min-width: 601px) {
  div.bottom {
    font-size: 1.8vw;
  }
}

@media screen and (max-width: 600) {
  div.bottom {
    font-size: 8px;
  }
} 
        
        
        


/* youtube */

.youtube-responsive-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
}

.youtube-responsive-container iframe, 
.youtube-responsive-container object, 
.youtube-responsive-container embed {
position:absolute;
width:100%;
height:100%;
}


a:link {
    text-decoration: none;
    color: white;
    
}

a:visited {
    text-decoration: none;
    color: black;
    
}

a:hover {
    text-decoration: underline;
    color: cyan;
}



</style>

